<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles2.css' %}">
</head>
<body>
    <div class="main-content">
        <h1>{{ queryset.name }}</h1>
        <h2>Category: {{ queryset.category.name }}</h2>
        <p>Quantity: {{ queryset.quantity }}</p>
        <p>Description: {{ queryset.description }}</p>

        <hr>

        {% for image in images %}
        <img src="{{ image.img.url }}" alt="{{ queryset.name }} image" width="200px">
        {% endfor %}
    </div>
</body>
</html>

